
.logo{
    margin-left: 1rem;
    background-image: url('/src/images/123.png');
}
.head{
    height: 60px;
    border-bottom: 2px solid #0c0c0c;
    margin: 0;
    padding: 0;
    display: flex;
}
.userheader{
    font-size: 25px;
}
.linkarea{
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: flex-end;
}
.bt1{
    width: 6rem;
    background-color: rgb(0, 0, 0);
    border-radius: 15px;
    border: 0px ;
    width: 150px;
    height: 40px;
    color: honeydew;
    margin-right: 1rem;
}
.SidebarList{
    height: auto;
    padding: 0%;
    width: 100%;
}
.SidebarList .row{
    width: 100%;
    height: 80px;
    list-style-type: none;
    margin: 0%;
    display: flex;
    flex-direction: row;
    color: rgb(0, 0, 0);
    justify-content: center;
    align-items: center;
    border-bottom: 2px solid rgb(253, 253, 253);
}
.SidebarList .row:hover{
    cursor: pointer;
    background-color: rgb(204, 47, 55);
}
.row #title{
    flex: 70%;
}
.sidebar{
    height: 100vh;
    width: 250px;
    background-color: #707172;
    float: left;

}

