.from-group {
    height: 100vh;
    align-items: center;
    justify-content: center;
    display: flex;
    background-image: url('../src/images/bg1.png')

  }
  .fied {
    list-style: none;
    align-items: center;
    justify-content: center;
    display: flex;

  }
  .block {
    border: 3px solid #6DBBAD;
    border-radius: 10px;
    background: #6DBBAD; 
    width: 500px;
    height: 300px;
    padding: 1rem;
  }
  .fied-form {
    justify-content: center;
    display: flex;
    margin-top: 15px;
  }
  .box {
    border-radius: 15px;
    border: 1px solid #6dbbad;
    height: 25px;
  }

  button {
    width: 100%;
  }
  h1{
      font-style: italic;
      color: rgb(0, 0, 0);
  }